# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# MLflow

# MLflow
mlflow.db
# DVC cache
.dvc/cache/

# Model files
#*.pkl
*.joblib
*.pt
*.pth

# Dataset

logs/
# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
data/processed/internships_processed.csv

#data/embeddings/internship_embeddings.npy
#data/embeddings/internship_index.csv