fastapi
uvicorn
python-multipart

pandas
numpy
scikit-learn
scipy
joblib

sentence-transformers
transformers
torch
huggingface-hub
safetensors
tokenizers

PyMuPDF
python-docx

openpyxl
pyarrow
python-dateutil

requests
tqdm

pytest