fastapi
uvicorn
python-multipart

pandas
numpy
scikit-learn
scipy
joblib

sentence-transformers

PyMuPDF
python-docx
openpyxl
pyarrow
python-dateutil

python-jose[cryptography]
passlib[bcrypt]
email-validator
SQLAlchemy

requests
tqdm
rapidfuzz
xgboost

httpx